<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
       
    </header>
    <h1> hello</h1>

    <% prompts.forEach(prompt => { %>
                      
        <h3 class="promptTitel"><%- prompt.name %></h3>
        <p class="prompt"><%- prompt.text %></p>

<% }); %>


<%= city.name %>

</body>
</html>
